/lisp/init-secret.el

/assets
/bookmarks
/elfeed.org

/elpa

/.cache
/.elfeed
/auto-save-list
/desktop
/eshell
/persp-confs
/transient
/url

/.lsp-session*
/forge-database.sqlite
/projectile-bookmarks.eld
/recentf
