/lisp/init-secret.el

/assets
/bookmarks
/elfeed.org

/elpa

/.cache
/.elfeed
/auto-save-list
/desktop
/eshell
/persp-confs
/places
/projects
/server
/racket-mode
/recentf
/tramp
/transient
/url

/.lsp-session*
/forge-database.sqlite
/projectile-bookmarks.eld
